<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Fruits</title>
</head>
<body>
    <h1>Create a new fruit!</h1>
    <form action="/fruits" method="POST">
        <label for="name">Name:</label>
        <input name="name" type="text"/>
        <label for="isReadyToEat">Ready to eat?</label>
        <input name="isReadyToEat" type="checkbox"/>
        <button type="sumbit">Add Fruit</button>
    </form>
    <a href="/fruits">Back to fruits</a>
</body>
</html>